@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
body {
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #cad2fc75;
    background-repeat: no-repeat;
    background-size: cover ;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 11fr 1fr;
}

.grid-title {
  grid-column: 2;
  place-self: center;
  color: rgb(0, 0, 0);
  font-weight: 800;
  /* font-size: 30px!important; */
}

.grid-form {
  grid-column: 2;
  grid-row: 3;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #b56ecacf 0%, #e4a5ff 50%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details label {
  width: 70px;
  font-weight: 500;
}

.details input,
select {
  width: 90%;
}

.col-md-6 label {
  width: 110px;
  padding: 5px;
  font-weight: 500;
}

form div input,
select {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.442);
  padding:10px;
  margin-top: 2px;
  font-weight: 500;
  border: none; 
  
}

.btn {
  width: 100px;
  align-self: center;
  margin-top: 10px;
  
}

.title {
  grid-column: span 8;
}

.col-md-6 {
  margin-top: 8px !important;
  align-items: center;
}
::placeholder {
    color: rgb(112, 112, 112);
    font-weight: 500;}

.myalert {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  align-self: center;
}

div h2 {
    font-weight: 600;
    color: black;
}

span {
  background-color: rgba(127, 127, 127, 0.442);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 100%;
}
  
a{
    color: white;
    height: 100%;
  }
a:hover{
    color: #494848;
}

.disable{
    background-color: rgba(142, 159, 215, 0.677);
    border-radius: 3px;
    padding:10px;
    border: none;
    width: 100%;
}

.boxcolor{
  background: linear-gradient(135deg, #b56ecacf 0%, #e4a5ff 50%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
}